<!DOCTYPE html>
<html lang="en">
<head>
    <title>Laboratory A</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bootstrap 5 Tech Conference Template">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600,700,800|Roboto:300,400,700&display=swap" rel="stylesheet">

    <!-- FontAwesome JS-->
    <script defer src="assets/fontawesome/js/all.min.js"></script>

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="assets/css/theme.css">


</head>

<body>
<div class="/////////">
    <header>
        <div class="branding">
            <div class="container-fluid ">
                <nav class="navbar navbar-expand-lg navbar-light " id="mainNav">
                    <a class="navbar-brand " href="#">
                        <!--img src="{{ asset('assets/img/images.jpg') }}" width="80" height="80" alt=""-->
                        <!--<img  style="margin-top: -28px;margin-left: -13px" src="{{ asset('assets/img/Logo-UIZ.jpg') }}" width="133" height="95" alt="">-->
                        <img  style="margin-top: -28px;margin-left: -13px" src="{{ asset('icon/assets/labo icon.jpg') }}" width="163" height="105" alt="">

                    </a>
                    <div class="container px-4 px-lg-5">
                        <div class="navbar-brand" id="page-top" style="padding-left: 400px"h>
                            <div style="margin-left: -310px"><h3> Laboratoire Image et Reconnaissance de Formes <br>
                                    <span style="margin-left: 80px"> Systèmes Intelligents et Communicants</span> <br></h3>
                            </div>
                            <h5>(IRF-SIC)</h5></div>



                        <div class="collapse navbar-collapse"  style="margin-left:23px;margin-top: -59px " id="navbarSupportedContent ">
                            <ul class="navbar-nav ms-auto">
                                <li class="nav-item"><a class="nav-link bg-secondary" href="#about">About</a></li>
                                <li class="nav-item"><a class="nav-link bg-secondary" href="#Equipe">EQUIPE</a></li>
                                <li class="nav-item"><a class="nav-link bg-secondary" href="#equipment">Equipment</a></li>
                                <li class="nav-item"><a class="nav-link bg-secondary" href="{{ path('app_home') }}">Home</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div><!--//container-->
        </div><!--//branding-->
    </header><!--//header-->



    <section style="margin-top: -29px" id="about" class="speakers-section section">
        <div class="container">
            <div class="section-intro text-center single-col-max mx-auto mb-5" id="about">

                <div class="content">

                    <div class="container">
                        <h2 class="mb-5">Identification de la structure de recherche</h2>


                        <div style="margin-left:-108px;margin-right: -118px ">
                            <div class="table-responsive custom-table-responsive">
                                <hr>
                                <table   class="table custom-table ">
                                    <tbody>
                                    <tr style="border: #6e8db1" scope="row">
                                        <th scope="row">
                                        <th scope="row">
                                        <th scope="row">
                                        </th>

                                        <td colspan="120"> <h6 style="margin-left: -100px">Nom de la structure de recherche </h6><span style="margin-right: -186px">اسم بنية البحث</span></td>
                                        <td style="margin-right: -111px">
                                            Image et Reconnaissance de Formes – Systèmes <br>
                                            Intelligents et Communicants
                                        </td>
                                    </tr>
                                    <tr class="spacer"><td colspan="120"></td></tr>
                                    <tr>


                                    <tr style="border: #6e8db1" scope="row">
                                        <th scope="row">
                                        <th scope="row">
                                        <th scope="row">
                                        </th>

                                        <td colspan="120"> <h6 style="margin-left: -283px">Acronyme </h6><span style="margin-right: -116px">الاسم المختصر لبنية البحث</span></td>
                                        <td>
                                            IRF-SIC
                                        </td>
                                    </tr>
                                    <tr class="spacer"><td colspan="120"></td></tr>
                                    <tr>


                                    <tr style="border: #6e8db1 ;row-span: inherit" scope="row">
                                        <th scope="row">
                                        <th scope="row">
                                        <th scope="row">
                                        </th>

                                        <td colspan="120"> <h6 style="margin-left: -180px">Domaines de recherche</h6><span style="margin-right: -206px"> مجال البحث </span></td>
                                        <td>
                                            Sciences et Techniques
                                        </td>
                                    </tr>


                                    <tr style="border: #6e8db1 ;row-span: inherit" scope="row">
                                        <th scope="row">
                                        <th scope="row">
                                        <th scope="row">
                                        </th>

                                        <td colspan="120"> <h6 style="margin-left: -273px"> Disciplines</h6><span style="margin-right: -208px"> التخصصات </span></td>
                                        <td>
                                            Informatique - STIC
                                        </td>
                                    </tr>


                                    <tr style="border: #6e8db1 ;row-span: inherit" scope="row">
                                        <th scope="row">
                                        <th scope="row">
                                        <th scope="row">
                                        </th>

                                        <td colspan="120"> <h6 style="margin-left: -40px">Type (Laboratoire ou équipe indépendante)</h6><span style="margin-right: -106px">مختبر البحث او فريق البحث </span></td>
                                        <td>
                                            Laboratoire
                                        </td>
                                    </tr>

                                    <tr style="border: #6e8db1 ;row-span: inherit" scope="row">
                                        <th scope="row">
                                        <th scope="row">
                                        <th scope="row">
                                        </th>

                                        <td colspan="120"> <h6 style="margin-left: -131px">Etablissement de domiciliation</h6><span style="margin-right: -166px"> المؤسسة المحتضنة </span></td>
                                        <td>
                                            Faculté des sciences d’Agadir
                                        </td>
                                    </tr>

                                    <tr class="spacer"><td colspan="120"></td></tr>
                                    <tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="content">

                    <div class="container">
                        <h2 class="mb-5"><br><br>Responsable de la structure de recherche</h2>


                        <div style="margin-left:-108px;margin-right: -118px ">
                            <div class="table-responsive custom-table-responsive">
                                <hr>
                                <table   class="table custom-table ">
                                    <tbody>
                                    <tr style="border: #6e8db1" scope="row">
                                        <th scope="row">
                                        <th scope="row">
                                        <th scope="row">
                                        </th>

                                        <td colspan="120"> <h6 style="margin-left: -100px">Nom et prénom du responsable </h6>
                                            <span style="margin-right: -130px">اسم ونسب المسؤول</span></td>

                                        <td style="margin-right: -111px">
                                            Douzi Hassan
                                        </td>
                                    </tr>
                                    <tr class="spacer"><td colspan=""></td></tr>
                                    <tr>


                                    <tr style="border: #6e8db1" scope="row">
                                        <th scope="row">
                                        <th scope="row">
                                        <th scope="row">
                                        </th>

                                        <td colspan="120"> <h6 style="margin-left: -283px">Spécialité </h6>
                                            <span style="margin-right: -190px"> التخصص   </span></td>

                                        <td>
                                            Mathématiques- Traitement d’images
                                        </td>
                                    </tr>
                                    <tr class="spacer"><td colspan=""></td></tr>
                                    <tr>


                                    <tr style="border: #6e8db1 ;row-span: inherit" scope="row">
                                        <th scope="row">
                                        <th scope="row">
                                        <th scope="row">
                                        </th>

                                        <td colspan="120"> <h6 style="margin-left: -309px">Grade </h6>
                                            <span style="margin-right: -206px"> الاطار </span></td>

                                        <td>
                                            PES
                                        </td>
                                    </tr>


                                    <tr style="border: #6e8db1 ;row-span: inherit" scope="row">
                                        <th scope="row">
                                        <th scope="row">
                                        <th scope="row">
                                        </th>

                                        <td colspan="120"> <h6 style="margin-left: -184px"> E-mail--------@uiz.ac.ma</h6>
                                            <span style="margin-right: -146px"> البريد الالكتروني </span></td>
                                        <td>
                                            h.douzi@uiz.ac.ma
                                        </td>
                                    </tr>


                                    <tr style="border: #6e8db1 ;" scope="row">
                                        <th scope="row">
                                        <th scope="row">
                                        <th scope="row">
                                        </th>

                                        <td colspan="120"> <h6 style="margin-left: -257px">Etablissement </h6>
                                            <span style="margin-right: -196px"> المؤسسة  </span></td>
                                        <td>
                                            Faculté des sciences d’Agadir
                                        </td>
                                    </tr>

                                    <tr class="spacer"><td colspan=""></td></tr>
                                    <tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>




                <div id="Equipe" style="margin-left:-150px;margin-right: -180px;margin-bottom: 0px" class="content">

                    <div class="container">
                        <br>
                        <br>
                        <br>

                        <h2 class="mb-5">Présentation des Equipes constituants <br><span>le Laboratoire de Recherche</span></h2>


                        <div class="table-responsive custom-table-responsive">

                            <table class="table custom-table">
                                <thead>
                                <tr>

                                    <th scope="col">
                                        </label>
                                    </th>

                                    <th scope="col">NO</th>
                                    <th scope="col">Nom des équipes</th>
                                    <th scope="col">Acronyme</th>
                                    <th scope="col">Domaines de
                                        recherche</th>
                                    <th scope="col">Spécialités</th>
                                    <th scope="col">Responsable</th>
                                </tr>
                                <br>
                                </thead>
                                <tbody>


                                <div style="margin-top: 10px;margin-bottom: 10px" >
                                    <tr scope="row" >
                                        <th scope="row"><br>

                                        <td>1</td>
                                        </th>

                                        <td>
                                            Image et
                                            Reconnaissance de
                                            Formes
                                        </td>
                                        <td>IRF</td>
                                        <td>Sciences et
                                            Techniques
                                        </td>
                                        <td>Informatique - STIC </td>
                                        <td><a href="#">Idbraim Soufiane</a></td>
                                    </tr>

                                    <tr class="spacer"><td colspan="100"></td></tr>
                                    <tr><br></tr>
                                </div>

                                <div>
                                    <tr>
                                        <th scope="row">
                                        <td>2</td>
                                        </th>


                                        <td>Modélisation,
                                            Simulation,
                                            Interaction et
                                            Intelligence</td>
                                        <td>MS2I</td>
                                        <td>
                                            Sciences et
                                            Techniques
                                        </td>
                                        <td>Modélisation et
                                            Intelligence
                                            Artificielle</td>
                                        <td><a href="#">Chihab Eddine
                                                Cherkaoui Eddahabi</a></td>
                                    </tr>
                                    <br>
                                    <tr class="spacer"><td colspan="100"></td></tr>
                                </div>

                                <div>
                                    <tr>
                                        <th scope="row">
                                        <td>3</td>
                                        </th>

                                        <td>Recherche
                                            d’Information et
                                            Ingénierie des
                                            Systèmes

                                        </td>
                                        <td><a href="#"></a>R2IS</td>
                                        <td>
                                            Recherche
                                            d’Information et
                                            Ingénierie des
                                            Systèmes
                                        </td>
                                        <td>Informatique</td>
                                        <td><a href="#"> Battou Amal</a> </td>
                                    </tr>
                                    <tr class="spacer"><td colspan="100"></td></tr>
                                </div>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#            <div class="col-lg-3 grid-margin stretch-card">
                <div class="card">
                    <div  style="margin-right: -40px" class="">
                        <table class="table table-hover">
                            <thead>
                            <div class="card-body">
                                <table class="table table-striped">
                                    <thead>
                                    <h4 class="card-title">LES MEMBRES</h4>
                                    <tr>
                                        <th> User </th>
                                        <th>  <h2 class="h1">{{ app.user.nom }}</h2></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="py-1">
                                            <img src="" alt="image" />
                                        </td>
                                        <td> Herman Beck </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>#}
    <h3 class="section-heading text-center mb-3">Matériel scientifique</h3>
    <section id="equipment" class="speakers-section section">

        <div class="container">
            <div class="row">



                {#  {% for a in E  %}
                    <div class="col-6 col-lg-3 mb-4">
                        <div class="card rounded-0">
                            <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1"><img src="{{ asset('assets/images/machine/')}}{{ E.image }}"height="200" class="card-img-top rounded-0" alt=""></a>
                            <div class="card-body">
                                <h5 class="card-title mb-2">{{ E.nom }}</h5>
                                <div class="card-text mb-3">
                                    <div class="card-text mb-3">
                                        <div class="meta">{{ E.description }}</div>
                                    </div><!--//card-text-->
                                </div><!--//card-text-->
                                <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">Read more &rarr;</a>
                            </div><!--//card-->
                            <div class="card-footer text-muted">
                                <ul class="social-list list-inline mb-0">
                                    <li class="list-inline-item"><a  href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
                                    <li class="list-inline-item"><a  href="#"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
                                    <li class="list-inline-item"><a  href="#"><i class="fab fa-github fa-fw"></i></a></li>
                                </ul><!--//social-list-->
                            </div>
                        </div><!--//card-->
                    </div><!--//col-->
                {% endfor %}
                #}

                <div class="col-6 col-lg-3 mb-4">
                    <div class="card rounded-0">
                        <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1"><img src="{{ asset('assets/images/machine/img9.jpeg') }}"height="200
" class="card-img-top rounded-0" alt=""></a>
                        <div class="card-body">
                            <h5 class="card-title mb-2">Imprimante 3D </h5>
                            <div class="card-text mb-3">
                                <div class="card-text mb-3">
                                    <div class="meta">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate iusto maxime nemo! Consequatur corporis cum cumque eum eveniet ex, fuga in iure mollitia neque nihil nobis nostrum quae quas qui.</div>
                                </div><!--//card-text-->
                            </div><!--//card-text-->
                            <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">Read more &rarr;</a>
                        </div><!--//card-->
                        <div class="card-footer text-muted">
                            <ul class="social-list list-inline mb-0">
                                <li class="list-inline-item"><a  href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
                                <li class="list-inline-item"><a  href="#"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
                                <li class="list-inline-item"><a  href="#"><i class="fab fa-github fa-fw"></i></a></li>
                            </ul><!--//social-list-->
                        </div>
                    </div><!--//card-->
                </div><!--//col-->





                <div class="col-6 col-lg-3 mb-4">
                    <div class="card rounded-0">
                        <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1"><img src="{{ asset('assets/images/machine/img6.jpeg') }}"height="200
" class="card-img-top rounded-0" alt=""></a>
                        <div class="card-body">
                            <h5 class="card-title mb-2">Scanner 3D</h5>
                            <div class="card-text mb-3">
                                <div class="card-text mb-3">
                                    <div class="meta">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate iusto maxime nemo! Consequatur corporis cum cumque eum eveniet ex, fuga in iure mollitia neque nihil nobis nostrum quae quas qui.</div>
                                </div><!--//card-text-->
                            </div><!--//card-text-->
                            <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">Read more &rarr;</a>
                        </div><!--//card-->
                        <div class="card-footer text-muted">
                            <ul class="social-list list-inline mb-0">
                                <li class="list-inline-item"><a  href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
                                <li class="list-inline-item"><a  href="#"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
                                <li class="list-inline-item"><a  href="#"><i class="fab fa-github fa-fw"></i></a></li>
                            </ul><!--//social-list-->
                        </div>
                    </div><!--//card-->
                </div><!--//col-->




                <div class="col-6 col-lg-3 mb-4">
                    <div class="card rounded-0">
                        <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1"><img src="{{ asset('assets/images/machine/img8.jpeg') }}"height="200
" class="card-img-top rounded-0" alt=""></a>
                        <div class="card-body">
                            <h5 class="card-title mb-2">Imprimante 3D </h5>
                            <div class="card-text mb-3">
                                <div class="card-text mb-3">
                                    <div class="meta">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate iusto maxime nemo! Consequatur corporis cum cumque eum eveniet ex, fuga in iure mollitia neque nihil nobis nostrum quae quas qui.</div>
                                </div><!--//card-text-->
                            </div><!--//card-text-->
                            <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">Read more &rarr;</a>
                        </div><!--//card-->
                        <div class="card-footer text-muted">
                            <ul class="social-list list-inline mb-0">
                                <li class="list-inline-item"><a  href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
                                <li class="list-inline-item"><a  href="#"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
                                <li class="list-inline-item"><a  href="#"><i class="fab fa-github fa-fw"></i></a></li>
                            </ul><!--//social-list-->
                        </div>
                    </div><!--//card-->
                </div><!--//col-->




                <div class="col-6 col-lg-3 mb-4">
                    <div class="card rounded-0">
                        <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1"><img src="{{ asset('assets/images/machine/img7.jpeg') }}"height="200
" class="card-img-top rounded-0" alt=""></a>
                        <div class="card-body">
                            <h5 class="card-title mb-2">Scanner 3D</h5>
                            <div class="card-text mb-3">
                                <div class="card-text mb-3">
                                    <div class="meta">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate iusto maxime nemo! Consequatur corporis cum cumque eum eveniet ex, fuga in iure mollitia neque nihil nobis nostrum quae quas qui.</div>
                                </div><!--//card-text-->
                            </div><!--//card-text-->
                            <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">Read more &rarr;</a>
                        </div><!--//card-->
                        <div class="card-footer text-muted">
                            <ul class="social-list list-inline mb-0">
                                <li class="list-inline-item"><a  href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
                                <li class="list-inline-item"><a  href="#"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
                                <li class="list-inline-item"><a  href="#"><i class="fab fa-github fa-fw"></i></a></li>
                            </ul><!--//social-list-->
                        </div>
                    </div><!--//card-->
                </div><!--//col-->





                <div class="col-6 col-lg-3 mb-4">
                    <div class="card rounded-0">
                        <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1"><img src="{{ asset('assets/images/machine/img1.jpg') }}"height="200
" class="card-img-top rounded-0" alt=""></a>
                        <div class="card-body">
                            <h5 class="card-title mb-2">fake machine</h5>
                            <div class="card-text mb-3">
                                <div class="card-text mb-3">
                                    <div class="meta">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate iusto maxime nemo! Consequatur corporis cum cumque eum eveniet ex, fuga in iure mollitia neque nihil nobis nostrum quae quas qui.</div>
                                </div><!--//card-text-->
                            </div><!--//card-text-->
                            <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">Read more &rarr;</a>
                        </div><!--//card-->
                        <div class="card-footer text-muted">
                            <ul class="social-list list-inline mb-0">
                                <li class="list-inline-item"><a  href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
                                <li class="list-inline-item"><a  href="#"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
                                <li class="list-inline-item"><a  href="#"><i class="fab fa-github fa-fw"></i></a></li>
                            </ul><!--//social-list-->
                        </div>
                    </div><!--//card-->
                </div><!--//col-->



                <div class="col-6 col-lg-3 mb-4">
                    <div class="card rounded-0">
                        <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1"><img src="{{ asset('assets/images/machine/img3.png') }}"  height="200" class="card-img-top rounded-0" alt=""></a>
                        <div class="card-body">
                            <h5 class="card-title mb-2">fake machine</h5>
                            <div class="card-text mb-3">
                                <div class="card-text mb-3">
                                    <div class="meta">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate iusto maxime nemo! Consequatur corporis cum cumque eum eveniet ex, fuga in iure mollitia neque nihil nobis nostrum quae quas qui.</div>
                                </div><!--//card-text-->
                            </div><!--//card-text-->
                            <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">Read more &rarr;</a>
                        </div><!--//card-->
                        <div class="card-footer text-muted">
                            <ul class="social-list list-inline mb-0">
                                <li class="list-inline-item"><a  href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
                                <li class="list-inline-item"><a  href="#"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
                                <li class="list-inline-item"><a  href="#"><i class="fab fa-github fa-fw"></i></a></li>
                            </ul><!--//social-list-->
                        </div>
                    </div><!--//card-->
                </div><!--//col-->




                <div class="col-6 col-lg-3 mb-4">
                    <div class="card rounded-0">
                        <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1"><img src="{{ asset('assets/images/machine/img2.jpg') }}"  height="200" class="card-img-top rounded-0" alt=""></a>
                        <div class="card-body">
                            <h5 class="card-title mb-2">fake machine</h5>
                            <div class="card-text mb-3">
                                <div class="card-text mb-3">
                                    <div class="meta">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate iusto maxime nemo! Consequatur corporis cum cumque eum eveniet ex, fuga in iure mollitia neque nihil nobis nostrum quae quas qui.</div>
                                </div><!--//card-text-->
                            </div><!--//card-text-->
                            <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">Read more &rarr;</a>
                        </div><!--//card-->
                        <div class="card-footer text-muted">
                            <ul class="social-list list-inline mb-0">
                                <li class="list-inline-item"><a  href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
                                <li class="list-inline-item"><a  href="#"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
                                <li class="list-inline-item"><a  href="#"><i class="fab fa-github fa-fw"></i></a></li>
                            </ul><!--//social-list-->
                        </div>
                    </div><!--//card-->
                </div><!--//col-->



                <div class="col-6 col-lg-3 mb-4">
                    <div class="card rounded-0">
                        <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1"><img src="{{ asset('assets/images/machine/img4.jpg') }}"  height="200" class="card-img-top rounded-0" alt=""></a>
                        <div class="card-body">
                            <h5 class="card-title mb-2">fake machine</h5>
                            <div class="card-text mb-3">
                                <div class="card-text mb-3">
                                    <div class="meta">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate iusto maxime nemo! Consequatur corporis cum cumque eum eveniet ex, fuga in iure mollitia neque nihil nobis nostrum quae quas qui.</div>
                                </div><!--//card-text-->
                            </div><!--//card-text-->
                            <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">Read more &rarr;</a>
                        </div><!--//card-->
                        <div class="card-footer text-muted">
                            <ul class="social-list list-inline mb-0">
                                <li class="list-inline-item"><a  href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
                                <li class="list-inline-item"><a  href="#"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
                                <li class="list-inline-item"><a  href="#"><i class="fab fa-github fa-fw"></i></a></li>
                            </ul><!--//social-list-->
                        </div>
                    </div><!--//card-->
                </div><!--//col-->






                <!--//row-->
            </div><!--//container-->
        </div>
    </section><!--//speakers-section-->




    <!-- Modal Speaker -->
    <div class="modal modal-speaker modal-speaker-1" id="modal-speaker-1" tabindex="-1" role="dialog" aria-labelledby="speaker-1-ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="speaker-1-ModalLabel" class="modal-title sr-only"
                    >Machine Name</h4>
                </div>
                <div class="modal-body p-0">
                    <div class="theme-bg-light p-5">
                        <div class="row">
                            <div class="col-12 col-md-auto text-center">
                                <img class="profile-image mb-3 mb-md-0 me-md-4 rounded-circle mx-auto" src="{{ asset('assets/images/machine/img1.jpg') }}" alt="" />
                            </div>

                            <div class="col text-center text-md-start mx-auto">
                                <h2 class="name mb-2">Machine Name</h2>
                                <div class="meta">Machine for laboratory informatique</div>
                                <ul class="social-list list-inline mb-0">
                                    <li class="list-inline-item"><a  href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
                                    <li class="list-inline-item"><a  href="#"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
                                    <li class="list-inline-item"><a  href="#"><i class="fab fa-github fa-fw"></i></a></li>
                                </ul><!--//social-list-->
                            </div><!--//col-->
                        </div><!--//row-->
                    </div>
                    <div class="desc p-4 p-lg-5">
                        <p>You can put speaker's bio or talk related info here. Duis a mi quis metus porttitor eleifend. Pellentesque finibus ultrices imperdiet. Maecenas auctor tortor quis risus tincidunt, mattis mattis leo placerat. Fusce metus augue, sagittis eget enim vel, venenatis auctor est. In interdum felis massa, ac porta nunc pretium non. In fringilla orci vitae imperdiet malesuada. Vestibulum feugiat lobortis est, in sagittis nisi molestie vel. Mauris ultrices vitae lectus eu feugiat. Fusce semper, nisi at placerat mollis, augue elit pretium enim, eu pellentesque justo purus et lectus. </p>
                        <p class="mb-0">Donec neque magna, molestie vel varius ut, pretium a urna. Pellentesque placerat nunc eu condimentum pellentesque. Vivamus dictum nisl leo, id fermentum lectus porttitor et. Pellentesque tristique erat libero, condimentum porttitor nisl pharetra et.</p>
                    </div>
                </div><!--//modal-body-->
            </div><!--//modal-content-->
        </div><!--//modal-dialog-->
    </div><!--//modal-->




    <!-- Javascript -->
    <script src="{{ asset('assets/plugins/popper.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/smoothscroll.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/gumshoe/gumshoe.polyfills.min.js') }}"></script>
    <script src="{{ asset('assets/js/main.js') }}"></script>
    <a class="position-center" href="#page-top">GO up</a>
</div>
</body>
</html>

